<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".myapp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".youtubeactivity"
            android:exported="false"
            android:label="@string/title_activity_youtubeactivity"
            android:theme="@style/Theme.Project.NoActionBar" />
        <activity
            android:name=".Myactivity"
            android:exported="false"
            android:label="@string/title_activity_myactivity"
            android:theme="@style/Theme.Project" />
        <activity
            android:name=".Dogactivity"
            android:exported="false" />
        <activity
            android:name=".quizactivity"
            android:exported="false" />
        <activity
            android:name=".Breedactivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".Introduceactivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoad51dd5d6297f331d7a10b3eba2b098f" />
            </intent-filter>
        </activity>
    </application>

</manifest>